artwork/*.png filter=lfs diff=lfs merge=lfs -text
graphics/*.png filter=lfs diff=lfs merge=lfs -text
graphics/*.svg filter=lfs diff=lfs merge=lfs -text
graphics/river-board/*.png filter=lfs diff=lfs merge=lfs -text
graphics/fish-board/*.svg filter=lfs diff=lfs merge=lfs -text
graphics/fish-board/*.png filter=lfs diff=lfs merge=lfs -text
graphics/box/*.png filter=lfs diff=lfs merge=lfs -text
graphics/box/*.svg filter=lfs diff=lfs merge=lfs -text
graphics/blank-chit/*.png filter=lfs diff=lfs merge=lfs -text
graphics/blank-chit/*.svg filter=lfs diff=lfs merge=lfs -text
graphics/worker-chits/*.png filter=lfs diff=lfs merge=lfs -text
graphics/worker-chits/*.svg filter=lfs diff=lfs merge=lfs -text
rulebook/*.png filter=lfs diff=lfs merge=lfs -text
rulebook/*.pdf filter=lfs diff=lfs merge=lfs -text
graphics/auction-chit/*.png filter=lfs diff=lfs merge=lfs -text
playtest-*.png filter=lfs diff=lfs merge=lfs -text
bga/img/metadata/title.png filter=lfs diff=lfs merge=lfs -text
